.main-screen {
  background: #ECF7F3;
}

.main-screen__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;

  @include vp-1023 {
    grid-template-columns: 1fr;
  }
}

.main-screen__title {
  margin: 0;
  margin-bottom: 15px;

  max-width: 450px;

  color: #2D2D2D;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 65px;

  span {
    color: #FF8345;
  }
}

.main-screen__text {
  margin: 0;
  margin-bottom: 15px;

  max-width: 400px;

  color: #7C7C7C;
  font-size: 15px;
  font-weight: 500;
  line-height: 26px;
}

.main-screen__button {
  min-width: 128px;

  margin-bottom: 50px;
}

.main-screen__users-list {
  list-style: none;

  margin: 0;
  padding: 0;

  display: flex;
}

.main-screen__users {
  display: flex;
  align-items: center;
  gap: 20px;

  padding-bottom: 50px;
}

.main-screen__users-item {
  width: 38px;
  height: 38px;

  background-color: #fff;

  border: 3px solid #FFF;

  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  &:nth-child(1) {
    z-index: 4;
  }

  &:nth-child(2) {
    margin-left: -15px;
    z-index: 3;
  }

  &:nth-child(3) {
    margin-left: -15px;
    z-index: 2;
  }

  &:last-child {
    margin-left: -15px;

    background-color: #FF8345;
  }
}

.main-screen__users-item img {
  border-radius: 50%;
}

.main-screen__users-text {
  color: #707070;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;

  a {
    color: #FD905A;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;

    &:hover {
      text-decoration: underline;
    }
  }
}

.main-screen__right-col {
  display: flex;
  justify-content: center;
  align-items: end;

  z-index: 1;

  position: relative;

  &::before {
    content: "";

    position: absolute;
    top: 70px;
    left: 50%;

    transform: translate(-50%, 0);

    width: 280px;
    height: 280px;

    border-radius: 280px;
    background: #48B774;

    z-index: -1;
  }

  &::after {
    content: "";

    position: absolute;
    top: -30px;
    left: 50%;

    transform: translate(-50%, 0);

    width: 450px;
    height: 450px;

    border-radius: 450px;
    border: 2px solid #E8E8E8;

    background-color: transparent;

    z-index: -3;
  }

  @include vp-1023 {
    margin-bottom: 50px;
  }
}

.main-screen__left-col {

  @include vp-1023 {
    order: 2;
  }
}

.main-screen__image img {
  height: 600px;
}

.main-screen__image-box {
  position: absolute;
  top: 190px;
  left: 50%;

  transform: translate(-50%, 0);

  z-index: -2;

  animation: spin 5s linear 7s infinite;

  border-radius: 50%;
}

.main-screen__image-country {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 50px;
  height: 50px;

  border-radius: 50px;
  border: 10px solid #FFF;
  box-shadow: 0px 10px 30px 0px rgba(148, 148, 148, 0.10);

  background-color: #fff;

  position: absolute;
  top: 0;
  left: 0;

  offset-path: path('M-215.5 69C194 137.5 -42.5 68.5 7.99997 0.5');
  offset-distance: 100%;
  animation: move 2s ease-in 3s forwards;
  offset-rotate: 0deg;

  img {
    width: 30px;
    height: 30px;

    border-radius: 30px;
  }

  &:nth-child(2) {
    width: 80px;
    height: 80px;

    border-radius: 80px;

    offset-path: path('M-199.5 -96C194 142.5 -46.5 68.5 5.99997 0.5');

    animation: move 2s ease-in 3.4s forwards;

    img {
      width: 60px;
      height: 60px;

      border-radius: 60px;
    }
  }

  &:nth-child(3) {
    width: 60px;
    height: 60px;

    border-radius: 60px;

    offset-path: path('M4.5 -220C194 137.5 -42.5 68.5 7.99997 0.5');

    animation: move 2s ease-in 3.8s forwards;

    img {
      width: 40px;
      height: 40px;

      border-radius: 40px;
    }
  }

  &:nth-child(4) {
    width: 80px;
    height: 80px;

    border-radius: 80px;

    offset-path: path('M198.5 -96C194 142.5 -46.5 68.5 5.99997 0.5');

    animation: move 2s ease-in 4.2s forwards;

    img {
      width: 60px;
      height: 60px;

      border-radius: 60px;
    }
  }

  &:nth-child(5) {
    width: 50px;
    height: 50px;

    border-radius: 50px;

    offset-path: path('M215.5 69C194 137.5 -42.5 68.5 7.99997 0.5');

    animation: move 2s ease-in 4.6s forwards;

    img {
      width: 30px;
      height: 30px;

      border-radius: 30px;
    }
  }
}

// анимации

@keyframes move {
  100% {
    offset-distance: 0%;
  }
}

@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}
